<div class="container my-3">
  <div class="row justify-content-center d-flex">
    <div class="row justify-content-center d-flex">
      <img class="image" src="./images/dog-questino.png" alt="" >
    </div>
    <div class="form justify-content-center d-flex">
      <div class="form-group">
        <div class="form">
          <label for="userAge">Enter your age</label>
          <input type="integer" class="form-control" id="userAge" placeholder="26">
        </div>
        <button type="button" class="button">Convert my age to dog years</button>
      </div>
    </div>
    <div class="row justify-content-center d-flex">
      <div class="age"></div>
    </div>
  </div>
</div>
