<div class="container my-3">
  <div class="row justify-content-center d-flex">
    <div class="row justify-content-center d-flex">
      <img class="image" src="./images/dog-questino.png" alt="" >
    </div>
    <div class="form justify-content-center d-flex">
      <form>
        <div class="form-group">
          <label for="userAge">Enter your age</label>
          <input type="integer" class="form-control" id="userAge" placeholder="26">
        </div>
        <button type="submit" class="button">Convert my age to dog years!</button>
      </form>
    </div>
  </div>
  <div class="age"></div>
</div>
